<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ブラウザ透過テスト.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ブラウザ透過テスト.Properties.Settings>
            <setting name="FontName" serializeAs="String">
                <value>Koruri Regular</value>
            </setting>
            <setting name="CommentFontSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CommentSpeed" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CommentColor" serializeAs="String">
                <value>240,240,240</value>
            </setting>
            <setting name="CH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CHlocal" serializeAs="String">
                <value>False</value>
            </setting>
        </ブラウザ透過テスト.Properties.Settings>
    </userSettings>
</configuration>